@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*=======================<800px screen layout======================
-------------banner image----------------
---------------title---------------------
-----------background-------------------
-----------Question---------------------
-----------background-------------------
-----------Question---------------------
-----------background-------------------
------------Footer--------------------
*=============================================*/

/*=======================>800px screen layout======================
background-------------banner image----------------background
background---------------title---------------------background
background---------------background---------------------background
background-----------Question---------------------background
background---------------background---------------------background
background-----------Question---------------------background
background---------------background---------------------background
background------------Footer--------------------background
*=============================================*/

/* =============CSS reset=================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===========================================================*/

/*design is mobile first*/

/*===========general============*/
/* font/box-sizing */
*,*::before{
    /*sans-serif means with no accent on letters */
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing:border-box;
}
/* colour palette */
:root {
    --col-1:#FFFFFF;
    --col-2:#949494;
    --col-3:#333333;
    --col-4:#000000;
    --col-5:#cdc4ff;
    --col-6:#9c89ff;
    --col-7:#5E00FF;
    --col-8:#280eb3;
}
/* set rem unit */
html {
    /*1 rem = 16 px */
    font-size:16px;
    height:100%;
    width:100%;
}
/* set background size */
body {
    position:relative;
}
/* set main elements size */
main {
    position:relative;
    width:100%;
    height:100%;


}
/*=======================*/

/*=============styling==========*/

.tab {
    text-indent:2rem;
}
.indent {
    margin-left:1rem;
}
.not_imp_txt {
    color:var(--col-2);
    font-size: 0.8rem;
    font-weight:400;
}
.dbl_indent {
    margin-left:4rem;
}

/*class for all text/form element*/
.zz_bg {
    position:relative;
    width:100%;
    height:100%;
    margin-bottom:1.5rem;
    border:var(--col-2) 1px solid;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.141),0 1px 3px 0 rgba(0,0,0,0.122);
    padding:1rem 1rem 0 1rem;

}
/*survey section heading*/
h3{
    margin-left:0.5rem;
    font-weight:600;
    font-size:1.2rem;
    margin-bottom:1rem;
}
/*all form inputs*/
.question {
    margin: 0.75rem 0 0.75rem 0;
}
/*multiple choice (Q5)*/
.flex_wrap {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;

}
.flex_wrap div {
    flex-shrink:0;
    margin: 0.5rem;
}
.centered {
    display:block;
    margin: 2px auto 2px auto;
}
/*multiple choice (Q9,Q11)*/
.grid_wrap {
    margin: 0.25rem 4rem 0.25rem 4rem;
}
.grid_wrap div {
    margin-top:2px;
    margin-bottom:2px;
}
/*inputs that are on new line (Q3,Q6,Q7,Q10)*/
.block_input {
    display:block;
    margin-top: 0.5rem;
    margin-left:2rem;
}
/*labels that are block (Q10)*/
.block_label {
    display:block;
}
/*multiple choice (Qemail)*/
.single_wrap {
    margin: 0.25rem 4rem 0.25rem 4rem;
}
.single_wrap div {
    margin-top:2px;
    margin-bottom:2px;
}
.disclaimer {
    color:var(--col-2);
    font-size: 0.8rem;
    font-weight:400;
    margin:1rem;
}
/*=======================*/

/*===========backgrounds============*/
/*background for whole page*/
body::before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-image:url(https://raw.githubusercontent.com/MatchaCrisp/SurveyForm.github.io/main/res/img/messy-bed.jpg);
    background-size:cover;
    filter:blur(3px) grayscale(50%) brightness(50%);
    opacity:20%;
}
/*------------------*/

/*background for areas with form or text elements*/
.zz_bg::before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-image:url(https://raw.githubusercontent.com/MatchaCrisp/SurveyForm.github.io/main/res/img/zz-bg.jpg);
    background-size: 320px 240px;
    opacity:70%;
}
/*---------------------------*/
/*=======================*/

/*============header===========*/
/*img wrapper*/
#banner {
    max-width:100%;
}
#banner-img {
    max-width:100%;
    height:auto;
    filter:brightness(50%) grayscale(50%);
}

/*override zz_bg class behaviour*/
main #header {
    border:none;
    padding:0;
}

#title{
    font-weight:600;
    font-size:2rem;
    margin: 0.5rem 1rem 0.5rem 1rem;

}

#description {
    padding:0 1rem 1rem 1rem;
}

/*=======================*/

/*===========form============*/
/*sizing input boxes*/
#email, #name {
    width:200px;
}
#number,#work_hour {
    width:50px;
}

/*eliminate spin box from number inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*center textarea input*/
textarea {
    display:block;
    margin: 1rem auto;
}
/*center submit button*/
#submit {
    display:block;
    margin:0 auto 1rem auto;
}
/*=======================*/

/*============footer===========*/
footer {
    margin:0rem;
    height:2rem;
    width:100%;
    position:relative;

    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    color:var(--col-1,white);
    background-color:var(--col-4,black);
}
footer a{
    color:var(--col-1,white);
    text-decoration:none;
}
footer a:hover {
    color:var(--col-2);
}
/*=======================*/

/*===========media queries============*/

/*grid_wrap questions (Q9,Q11) become grid*/
@media only screen and (min-width:701px) {
    .grid_wrap {
        display:grid;
        grid-template-columns:1fr 1fr;
    }

}

/*max form/footer size*/
@media only screen and (min-width:801px) {
    .zz_bg {
        border-radius:8px;
    }
    main {
        width:800px;
        margin:0 auto;
    }

    footer {
        width:800px;
        margin: 0 auto;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
    }


}

@media 
(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .grid_wrap {
        display:block;
    }
    .zz_bg {
        border-radius:16px;
    }
    main {
        width:1600px;
        margin:0 auto;
    }
    footer {
        width:1600px;
        margin: 0 auto;
        border-top-left-radius:16px;
        border-top-right-radius:16px;
    }
}
/*=======================*/